<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    	"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
	<hibernate-configuration>
	<session-factory>
		<mapping class="app.IMAS.Entities.Login"/>
		<mapping class="app.IMAS.Entities.Product"/>
		<mapping class="app.IMAS.Entities.Category"/>
	</session-factory>
	
</hibernate-configuration>